__pycache__/

/static/images
/static/imagesToSendBack
/Test
/Training

# added by whbarndt
/Combined
/No_Fire_Images
/Fire_Images
/Local_testing
*.jpg

# exception to the rule
!/static/images/.gitkeep 
!/static/imagesToSendBack/.gitkeep