<!DOCTYPE html>
<html>
    <head>
        <title>CNN Model Test</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <h1 class="text-center">Image Classifier</h1>
        <div id="error-message" class="error-message"></div>
        <form class="p-3 text-center" action="/" method="post" enctype="multipart/form-data">
            <input required id="imageInput" class="form-control btn btn-primary mt-3" type="file" name="imageFile">
            <div>
                {% for model in listOfModels %}
                    <input required type="radio" id="{{ model.name }}" name="modelOptions" value="{{ model.name }}" {% if modelToUse == model.name %}checked{% endif %}>
                    <label for="{{ model.name }}">{{ model.name }}</label>
                {% endfor %}
            </div>
            <input id="submitButton" class="btn btn-primary mt-3" type="submit" value="Check for Fire">
        </form>
        <h5>So far, the above models work best for testing images from the IEEE FLAME Dataset, which can be accessed here:
            <a href="https://ieee-dataport.org/open-access/flame-dataset-aerial-imagery-pile-burn-detection-using-drones-uavs">IEEE Dataset</a>
        </h5>
        <h5>The models were trained using the IEEE FLAME Dataset too.</h5>
        {% if prediction %}
            <img id="displayImg" style="background-image: url('{{img}}');"></img>
            <p id="revealText" class="revealText">Image has {{prediction}}</p>
        {% else %}
            <img id="displayImg"></img>
        {% endif %}

        <script src="{{ url_for('static', filename='javascript/showImage.js') }}"></script>
    </body>
</html>